{% extends 'core/base.html' %}

{% load humanize %}

{% block content %}
	<div class="card">
		<div class="card-content">
			<div class="content"> 
				<h1 class="has-text-primary"> Your Followers are: {{ user.username }} </h1>

                <p class="has-text-info is-size-5"> Number of followers: {{ user.userprofile.followed_by.count }}</p>
            </div>
        </div>
    </div>

        <div class="card">
            <div class="card-content">  
                <div class="content"
                    {% for twee in user.userprofile.followed_by.all %}
                        <p> 
                            <a href="{% url 'userprofile' twee.user.username %}"> {{ twee.user.username }}</a>
                        </p>
                    {% empty %}
                        {% if request.user == user %}
                            <p> Sorry, you don't have any followers ! </p>
                        {% else %}
                            <p> {{ user.username }} don't have any followers ! </p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    
{% endblock %}