{% extends 'core/base.html' %}

{% block content %}
    <div class="container" id="feedapp">
        <div class="columns">
            <div class="column is-12">
                <div class="wraper-form">
                    <form v-on:submit.prevent = "submitTweet()">
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea" v-model="body" placeholder="What's on your programming mind?"></textarea>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-success"> SUBMIT </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="wraper-tweets">
                    <div class="tweet" v-for = "tweet in tweets">
                        <p class="name"> [[tweet.twee]] </p>
                        <p>[[ tweet.body ]]</p>
                        <p class="info"> [[tweet.created_at]] </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    new Vue({
        el: '#feedapp',
        delimiters: ['[[', ']]'],
        data() {
            return{
                tweets: [], 
                body: '',
                twee: '{{request.user.username}}', 
                created_at: 'Now',
            }
                
        },
        methods: {
            submitTweet(){
                if (this.body.length > 0 ){
                    var tweet = {
                        'body': this.body,
                        'twee': this.twee,
                        'created_at': this.created_at
                    };
                    this.tweets.unshift(tweet); 
                }
                this.body = ''; 
            }
        }

    })
</script>
{% endblock %}