
{% extends 'core/base.html' %}

{% load humanize %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <h1 class="title">Search</h1>

                <p>Search term: "{{ query }}"</p>

                <hr>

                <form method="get" action="{% url 'search' %}">
                    <div class="field">
                        <div class="control">
                            <input type="text" class="input" name="query" value="{{ query }}">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-success">Search</button>
                        </div>
                    </div>
                </form>

                <hr>

                <div class="search-results">
                        {% if not tweets and not twe %}
                            <p> Nothing was found ! Please try another name or term ! </p>
                        {% endif %}

                        {% if tweets %}
                            <strong>
                                Doctors 
                            </strong>
                            {% for twee in tweets %}
                                <p><a href="{% url 'userprofile' twee.username %}">  {{ twee.username }}</a></p>
                            {% endfor %}
                        {% endif %}

                        {% if twe %}
                            <strong> 
                                No Doctors ! 
                            </strong>

                            <div class="wrapper-tweets">
                                {% for tweeet in twe %}
                                <div class="tweet">
                                    <article class="media">
                                        <figure class="media-left">
                                            <p class="image is-64x64">
                                                {% if tweeet.created_by.userprofile.avatar %}
                                                    <img src="{{ tweeet.created_by.userprofile.avatar.url }}">
                                                {% endif %}
                                            </p>
                                        </figure>
                                        <div class="media-content">
                                            <div class="content">
                                                <p> 
                                                    <strong><a href="{% url 'userprofile' tweeet.created_by.username %}"> {{tweet.created_by.username }} </a></strong>
                                                    <small> {{ tweeet.created_at|naturaltime}} </small>
                                                    <br>
                                                    {{ tweeet.body }}
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                  
		    </div>
</div> 
{% endblock %}